---
// @ts-ignore
import { Icon } from "astro-icon/components";
import LEDOutdoor from "assets/LED - Outdoor.jpg";
import Salon from "assets/Salon.jpg";
import Event from "assets/Event.jpg";
import Hoarding from "assets/Hoarding & Branding.jpg";
import Production from "assets/Production (1).jpg";
import Project from "assets/OGF_NOLIMIT.png";
import { Picture, getImage } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Features from "@components/features.astro";

const optimizedBackground = await getImage({ src: LEDOutdoor, format: "webp" });
const optimizedBackground1 = await getImage({ src: Salon, format: "webp" });
const optimizedBackground2 = await getImage({ src: Event, format: "webp" });
const optimizedBackground3 = await getImage({ src: Hoarding, format: "webp" });
const optimizedBackground4 = await getImage({
  src: Production,
  format: "webp",
});
const optimizedBackground5 = await getImage({ src: Project, format: "webp" });

const metaDescription =
  "Explore our advertising solutions including outdoor LED advertising, indoor advertising, events, branding, and production services.";
const metaTitle = "Advertising Solutions";
const metaKeywords =
  "outdoor advertising,indoor advertising,events,branding,production";
---

<head>
  <meta name="description" content={metaDescription} />
  <meta property="og:title" content="Advertising Solutions" />
  <meta property="og:description" content={metaDescription} />
  <meta property="og:image" content={optimizedBackground.src!} />
  <meta property="title" content={metaTitle} />
  <meta property="keywords" content={metaKeywords} />
</head>

<Container>
  <Layout title="Services">
    <Sectionhead>
      <Fragment slot="title">Services</Fragment>
    </Sectionhead>
    <div class="px-5 mb-12">
      <Features isHomePage={false} />
    </div>
  </Layout>
</Container>
