---
// @ts-ignore
import { Icon } from "astro-icon/components";
import LEDOutdoor from "assets/LED - Outdoor.jpg";
import Salon from "assets/Salon.jpg";
import Event from "assets/Event.jpg";
import Hoarding from "assets/Hoarding & Branding.jpg";
import Production from "assets/Production (1).jpg";
import Project from "assets/OGF_NOLIMIT.png";
import { Picture, getImage } from "astro:assets";

const optimizedBackground = await getImage({ src: LEDOutdoor, format: "webp" });
const optimizedBackground1 = await getImage({ src: Salon, format: "webp" });
const optimizedBackground2 = await getImage({ src: Event, format: "webp" });
const optimizedBackground3 = await getImage({ src: Hoarding, format: "webp" });
const optimizedBackground4 = await getImage({
  src: Production,
  format: "webp",
});
const optimizedBackground5 = await getImage({ src: Project, format: "webp" });

const metaDescription =
  "Explore our advertising solutions including outdoor LED advertising, indoor advertising, events, branding, and production services.";
const metaTitle = "Advertising Solutions";
const metaKeywords =
  "outdoor advertising,indoor advertising,events,branding,production";

const features = [
  {
    title: "Outdoor LED Advertising",
    description:
      "Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.",
    icon: "bx:bxs-briefcase",
    image: optimizedBackground.src!,
  },
  {
    title: "Indoor LED Advertising",
    description:
      "Astro renders your entire page to static HTML, removing all JavaScript from your final build by default.",
    icon: "bx:bxs-window-alt",
    image: optimizedBackground1.src!,
  },
  {
    title: "Events",
    description:
      "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication. It just works!",
    icon: "bx:bxs-file-find",
    image: optimizedBackground2.src!,
  },
  {
    title: "Hoardings and Branding",
    description:
      "Astro supports TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind, Markdown, MDX, and any other npm packages.",
    icon: "bx:bxs-bot",
    image: optimizedBackground3.src!,
  },

  {
    title: "Productions",
    description:
      "Astro is an open source project powered by hundreds of contributors making thousands of individual contributions.",
    icon: "bx:bxs-user",
    image: optimizedBackground4.src!,
  },
  {
    title: "Projects",
    description:
      "Astro is an open source project powered by hundreds of contributors making thousands of individual contributions.",
    icon: "bx:bxs-user",
    image: optimizedBackground5.src!,
  },
];
---

<head>
  <meta name="description" content={metaDescription} />
  <meta property="og:title" content="Advertising Solutions" />
  <meta property="og:description" content={metaDescription} />
  <meta property="og:image" content={optimizedBackground.src!} />
  <meta property="title" content={metaTitle} />
  <meta property="keywords" content={metaKeywords} />
</head>

<div class="mt-16">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight capitalize">
    advertising solutions
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Astro comes batteries included. It takes the best parts of state-of-the-art
    tools and adds its own innovations.
  </p>
</div>

<div class="grid sm:grid-cols-2 lg:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex flex-col bg-slate-50 p-4 rounded-md transition-transform duration-300 hover:scale-110">
        <Picture
          src={item?.image ?? ""}
          alt={item?.title ?? ""}
          sizes="(max-width: 800px) 100vw, 400px"
          width={400}
          height={400}
          class="w-full rounded-md group-hover:shadow-xl bg-white object-cover object-center "
          format="jpg"
        />
        <div class="flex gap-2 items-center justify-center my-2">
          <div class="mt-1 bg-[#0A91D9] rounded-full  p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <h3 class="font-semibold text-lg text-[#0A91D9]">
            {item.title}
          </h3>{" "}
        </div>
        <div>
          <p class="text-slate-500 mt-2">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
